<!DOCTYPE html>
<html lang="en">

<head>
    <title>Evergrow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"> <!-- Assuming main.css is in the public directory -->
    <link rel="stylesheet" href="/less/styles.css "> <!-- Assuming styles.css is in the public/less directory -->
    <link rel="icon" href="/images/leaf.png" type="image/x-icon"/> <!-- Assuming images folder is in the public directory -->
    <script type="text/javascript" src="/js/script.js"></script> <!-- Assuming script.js is in the public directory -->
</head>


<body>
    <header>
        <nav class="navbar">
            <a href="/" class="nav-branding">Evergrow</a>

            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/flowers" class="nav-link">Flowers</a>
                </li>
                <li class="nav-item">
                    <a href="/fruits" class="nav-link">Fruits</a>
                </li>
                <li class="nav-item">
                    <a href="/herbs" class="nav-link">Herbs</a>
                </li>
                <li class="nav-item">
                    <a href="/veggies" class="nav-link">Veggies</a>
                </li>       
                <li class="nav-item">
                    <a href="support.html" class="nav-link">Support</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <div class="cart">
                <img src="/images/shopping_cart.png" width="32px", height="30px">
            </div>
        </nav>       
        
    </header>

   

    

    <div role="img" aria-label="Description of home page image">
        <img src="/images/garden_home.jpg" width="1905px" height="250px" alt="Lush lawn with various plants and a wooden gazebo"/>   
    </div>


    <div role="img" aria-label="5 columns showcasing visuals of veggies, herbs, fruits, plants, and flowers"></div>
    <div class="container">
        <div class="columnContent">
            <div class="col-sm-6"><img src="/images/veg_home.jpg" width="300px" height="170px"/><p>Whether it's something as simple as a bell pepper, or</p>
            <p>something as unique as a colorful heirloom carrot,</p><p>Evergrow has the highest quality seeds for planting</p>
            <p>right in your own back yard.</p></div>
            <div class="col-sm-4"><img src="/images/herb_garden.webp" width="300px" height="170px"/><p>Why go to the store for old herbs when you can have</p>
                <p>a beautiful, flavorful, handpicked selection right at home?</p><p>Our seeds come from high-quality vendors, whether</p>
                <p>used for food or their nice aromas!</p></div>
            </div>
    </div>

    <div class="container">
        <div class="columnContent">
            <div class="col-sm-6"><img src="/images/fruit_home.jpg" width="300px" height="170px"/><p>From deliciously crisp apples, to beautiful heirloom tomatoes,</p>
            <p>we offer seeds for most any fruit a household would ever</p><p> want or need! Our selection of fruit seeds is unmatched!</p></div>
            <div class="col-sm-4"><img src="/images/flowers_home.jpg" width="300px" height="170px"/><p>Few things can compare to a luscious, beautiful</p>
                <p>bed of flowers that you were responsible for growing.</p><p>Check out our extensive list of both common and unique</p>
                <p>types of flowers.</p></div>
            </div>
    </div>


</body>

<footer>
    Copyright 2023
</footer>



</html>
